<div class="navbar">
  <a class="active" href="#home">Joseph Bradshaw</a>
  <a href="#github">Github</a>
  <a href="#projects">Projects</a>
  <a href="#blog">Blog</a>
  <a href="#li">LinkedIn</a>
</div>

<div class="content" role="main">

  <img id="profile-img" src="../assets/images/me.png" alt="my beautiful face">

  <h2>Placeholder</h2>
  <p>Placeholder text galore</p>

  <h2>SVG Me Buttons</h2>
  <p>Behold the power of SVG me</p>

  <!-- Links -->
  <div class="card-container">
    <a class="circle-link" title="A test svg image of myself" href="#nowhere" target="_blank" rel="noopener">
      <img class="svg-me" src="/assets/images/me.svg" alt="Me in SVG form">
    </a>
    <a class="circle-link" title="A test svg image of myself" href="#nowhere" target="_blank" rel="noopener">
      <img class="svg-me" src="/assets/images/me.svg" alt="Me in SVG form">
    </a>
    <a class="circle-link" title="A test svg image of myself" href="#nowhere" target="_blank" rel="noopener">
      <img class="svg-me" src="/assets/images/me.svg" alt="Me in SVG form">
    </a>
    <a class="circle-link" title="A test svg image of myself" href="#nowhere" target="_blank" rel="noopener">
      <img class="svg-me" src="/assets/images/me.svg" alt="Me in SVG form">
    </a>
    <a class="circle-link" title="A test svg image of myself" href="#nowhere" target="_blank" rel="noopener">
      <img class="svg-me" src="/assets/images/me.svg" alt="Me in SVG form">
    </a>
  </div>

  <!-- Footer -->
  <footer>
  </footer>
</div>

